{% load static %}
<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="{% url 'web:dashboard:index' %}">
        <img src="{% static 'assets/logo.png' %}" width="110" height="32" alt="Tabler"
          class="navbar-brand-image header-logo">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last center-provider-logo">
      {% if request.user.is_authenticated %}
      <!-- Set provider logo here -->
      <img class="navbar-brand-image" src="{% static 'assets/logo.png'%}" alt='logo'/>
      {% endif %}
    </div>
  </div>
</header>
<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item {% if selected == 'dashboard' %}active{% endif %}">
            <a class="nav-link" href="{% url 'web:dashboard:index' %}">
              <span class="nav-link-title">
                Dashboard
              </span>
            </a>
          </li>
        </ul>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <div class="d-none d-xl-block ps-2">
              <div>{{request.user.email}}</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="#" class="dropdown-item">Configuración</a>
            <a href="{% url 'web:auth:logout' %}" class="dropdown-item">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>